.newexam-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.middle-box form{
    margin: 10px;
}

.newexam-screen.middle-box {
    margin: 80px auto;
    width: 600px;
    height: 400px;
}