.tab-position-exams {
    margin-left: -500px;
}

/* .middle-box-exams {
    flex-direction: column;
    margin: 20px;
} */

.exams-screen.middle-box {
    width: 700px;
    height: 500px;
}

.middle-box table {
    margin-top: 20px;
    width: 600px;
    
    /* position: relative; */
}

.middle-box table thead{
    background-color: #CF3537;
    color: #FFF;
}

.middle-box table thead th{
    text-align: center;
    /* position: sticky;
    top: 0; */
}

.middle-box table td{
    text-align: center;
    color: #CF3537;
    font-weight: bold;
}

/* .scroll-body {
    overflow: auto; 
    max-height: 415px;
    position: absolute;
    top: 160px;
} */

.scroll {
	overflow: auto; 
    max-height: 415px;
    position: absolute;
    top: 160px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-edit{
    width: 30px;
    height: 30px;
    background: #495057;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;
    margin-right: 5px;
}

.button-delete{
    width: 30px;
    height: 30px;
    background: #CF3537;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;
}

.button-edit:hover{
    filter: brightness(80%)
}

.button-delete:hover{
    filter: brightness(80%)
}

.exams-button-back {
    width: 100%;
    height: 40px;
    background: #434649;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;
    margin-top: 430px;
}

