@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    /* position: relative; */
    font: 400 14px Roboto, sans-serif;
    background-image: url('./assets/background.png');
    background-size: cover;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea{
    font: 400 18px Roboto, sans-serif;
}

label{
    margin-top: 10px;
    color: #903031;
    font-weight: bold;
    font-size: 16px;
}

button, a {
    cursor: pointer;
}

a {
    color: #903031;
}

a:hover {
    color: #CF3537;
}

h4 {
    color: #903031;
    text-align: center;
}

p {
    color: #903031;
}

header span {
    margin-left: 24px;
    font-size: 18px;
    font-weight: bold;
    color: #903031;
}

header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #999;
    margin-left: auto;
    margin-top: 0;
    background: #CF3537;
    transition: border-color 0.2s;
}

header button:hover {
    border-color: #dcdcd6;
}

.absolute {
    height: 50px;
    width: 200px;
    position: absolute;
    top: 55px;
    right: 250px;
}

.absolute-userprofile {
    height: 50px;
    width: 200px;
    position: absolute;
    top: 38px;
    right: 180px;
}

.app-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    list-style: none;
}

.app-container ul li {
    position: relative;
}

.app-container ul li img {
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 25px;
}

/*MELHORAR DEPOIS O ALINHAMENTO DA ABA*/
.tab-img {
    height: 35px;
    width: 150px;
    background: url('./assets/tab.png');
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-position{
    margin-left: -200px;
    /* margin-right: inherit; */
    /* margin-left: -1180px */
}

.tab-text {
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.top-flap {
    height: 35px;
}

.aba {
    width: 25%;
    height: 30px;
    background: #CF3537;
    border: 0;
    border-radius: 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-box {
    z-index: 100;
    margin: 0px 20px 20px 20px;
    background-color: #FFF;
    border: 3px solid #ced4da;
    border-radius: 16px;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.button{
    width: 100%;
    height: 40px;
    background: #CF3537;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;
    margin-top: 15px;
}

.button-back {
    width: 100%;
    height: 40px;
    background: #434649;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;
    margin-top: 15px;
}

.button:hover{
    filter: brightness(80%)
}

.navbar {
    background-color: #CF3537;
}

.navbar-right {
    position: absolute;
    right: 120px;
}

.nav-link {
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
}

.nav-link:hover {
    color: #FFF;
    font-weight: bold;
}
