.tab-register-position {

    margin-left: -500px;
    /* margin-right: inherit; */
    /* margin-left: -1180px */
}

.middle-box form{
    margin: 10px;
}

.registerscreen.middle-box {
    /* margin: 20px; */
    display: inline;
    align-items: baseline;
    width: 700px;
    height: 480px;
}

.radiobutton {
    margin: 5px;
}